-- Script para agregar columna banco a la tabla de pagos
ALTER TABLE aocr_tbpago ADD COLUMN IF NOT EXISTS banco VARCHAR(255);
-- Actualizar registros existentes con valor por defecto
UPDATE aocr_tbpago SET banco = 'NO_ESPECIFICADO' WHERE banco IS NULL;

