<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- PLANTILLA DE SECRETOS EXTERNALIZADOS - NO COMMIETAR VALORES DE PRODUCCIÓN -->
  <add key="SmtpUsername" value=""/>
  <add key="SmtpPassword" value=""/>
  <add key="Aocr:CertificadoInstitucionalPassword" value=""/>
  <add key="AS400:Password" value=""/>
</appSettings>
