<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- ASP.NET MVC Core -->
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  
  <!-- Web API -->
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net48" />
  
  <!-- Entity Framework -->
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Npgsql.EntityFramework" version="4.1.3.1" targetFramework="net48" />
  <package id="Npgsql" version="4.1.3.1" targetFramework="net48" />
  
  <!-- PDF - USAR SOLO UNO (Select.HtmlToPdf recomendado) -->
  <package id="Select.HtmlToPdf" version="23.1.0" targetFramework="net48" />
  <!-- REMOVER iTextSharp si existe para evitar conflictos -->
  
  <!-- Seguridad -->
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  
  <!-- IoC -->
  <package id="Unity" version="5.11.10" targetFramework="net48" />
  <package id="Unity.Mvc5" version="5.0.15" targetFramework="net48" />
  
  <!-- JSON -->
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  
  <!-- Logging -->
  <package id="NLog" version="5.2.8" targetFramework="net48" />
  <package id="NLog.Web" version="5.3.8" targetFramework="net48" />
  
  <!-- Utilidades -->
  <package id="Antlr" version="3.5.0.2" targetFramework="net48" />
  <package id="WebGrease" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
</packages>